 header.ob {
     margin-bottom: 3em;
 }
 .section_1 {
     margin-bottom: 3em;
 }
 .section_1 h1 {
     border-bottom: 1px solid red;
 }
 .section_2 {
     margin-bottom: 3em;
 }
 .section_2 .filtros {
    background: #eeeeee;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
 }
 .section_2 button.btn-primary {
    background-color:#d7192d;
    border-color: #d7192d;
    outline: none;
 }
 .section_2 .row {
     margin-bottom: 2em;
 }
 #items{
    max-width: 710px;
}

 .section_2 .card {
     margin-bottom: 1em;
     flex-direction: row;
     width: 200px;
     height: 335px;
     
 }
 .section_2 .card-body {
     text-align: center;
 }
 .section_2 .card-title {
    margin-top: 1rem;
}

